### 딕셔너리 만들기

In [2]:
country_capital = {"영국":"런던", "프랑스":"파리", 
                   "스위스":"베른", "호주":"멜버른","덴마크":"코펜하겐"}
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [3]:
type(country_capital)

dict

In [5]:
country_capital["영국"]

'런던'

In [6]:
dict_data1 = {1:"버스", 2:"비행기", 3:"택시", 5:"자전거"}
dict_data1

{1: '버스', 2: '비행기', 3: '택시', 5: '자전거'}

In [7]:
dict_data1[3]

'택시'

In [8]:
play_data_1 = {"신동욱": "동작구", "문지현":"성동구"}
print(play_data_1)

{'신동욱': '동작구', '문지현': '성동구'}

In [9]:
dict_data2 = {1:10, 2:20, 3:30, 4:40, 5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [11]:
dict_data3 = {"list_data1":[11,12,13], "list_data2":[21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [1]:
mix_dict = {1:10, 'dict_num':{1:10,2:20}, 
            "dict_list_tuple":{"A":[11,12,13],'B': (21, 22, 23), 
                               'dict_string': '이것은 책입니다'}}                              
print(mix_dict)

{1: 10, 'dict_num': {1: 10, 2: 20}, 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23), 'dict_string': '이것은 책입니다'}}

### 딕셔너리 다루기

#### 딕셔너리에 데이터 추가하고 변경하기

In [13]:
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [16]:
country_capital["독일"]="베를린"

In [17]:
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [18]:
country_capital["호주"]="캔버라"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

#### 딕셔너리에서 데이터 삭제하기

In [19]:
del country_capital['덴마크']
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

#### 딕셔너리 메서드 활용하기

In [20]:
fruit_code = {'사과':101, "배":102, "딸기":103, "포도":104, "바나나":105}

In [21]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [23]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [25]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [26]:
list_keys = list(fruit_code.keys())
print(list_keys)

['사과', '배', '딸기', '포도', '바나나']

In [28]:
list_values = list(fruit_code.values())
print(list_values)

[101, 102, 103, 104, 105]

In [29]:
list_items = list(fruit_code.items())
print(list_items)

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [30]:
fruit_code2 = {"오렌지":106,"수박":107}

In [32]:
fruit_code2.update(fruit_code2)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105}

In [33]:
fruit_code3 = {"수박":108}

In [34]:
print(fruit_code3)

{'수박': 108}

In [36]:
fruit_code.update(fruit_code3)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '수박': 108}

In [37]:
fruit_code2.clear()  # 깔끔하게 삭제
print(fruit_code2)
type(fruit_code2)

{}

dict