### 리스트 생성하기

In [4]:
numbers = [] 
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
for n in range(1, 10+1):
    numbers.append(n)

### 조건걸기

In [6]:
even_numbers = []
for n in range(1, 10 + 1):
    if n % 2 == 0:
        even_numbers.append(n)

In [7]:
print(even_numbers)

[2, 4, 6, 8, 10]

### 컴프리헨션 문법을 통한 방법

In [9]:
[x for x in range(1,10) if x % 2 == 0]

[2, 4, 6, 8]

### 중복표현

In [10]:
[(x,y) for x in ["쌈밥", "치킨", "피자"] for y in ["사과", "아이스크림", "커피"]]

[('쌈밥', '사과'),
 ('쌈밥', '아이스크림'),
 ('쌈밥', '커피'),
 ('치킨', '사과'),
 ('치킨', '아이스크림'),
 ('치킨', '커피'),
 ('피자', '사과'),
 ('피자', '아이스크림'),
 ('피자', '커피')]

In [11]:
[(x,y) for x in ["쌈밥", "치킨", "피자"] for y in ["사과", "아이스크림", "커피"] for z in ["배달", "직접"]]

[('쌈밥', '사과'),
 ('쌈밥', '사과'),
 ('쌈밥', '아이스크림'),
 ('쌈밥', '아이스크림'),
 ('쌈밥', '커피'),
 ('쌈밥', '커피'),
 ('치킨', '사과'),
 ('치킨', '사과'),
 ('치킨', '아이스크림'),
 ('치킨', '아이스크림'),
 ('치킨', '커피'),
 ('치킨', '커피'),
 ('피자', '사과'),
 ('피자', '사과'),
 ('피자', '아이스크림'),
 ('피자', '아이스크림'),
 ('피자', '커피'),
 ('피자', '커피')]

In [12]:
for x in ["쌈밥", "치킨", "피자"]:
    for y in ["사과", "아이스크림", "커피"]:
        for z in ["배민", "요기요", "직접"]:
            print(x,y,z)

쌈밥 사과 배민
쌈밥 사과 요기요
쌈밥 사과 직접
쌈밥 아이스크림 배민
쌈밥 아이스크림 요기요
쌈밥 아이스크림 직접
쌈밥 커피 배민
쌈밥 커피 요기요
쌈밥 커피 직접
치킨 사과 배민
치킨 사과 요기요
치킨 사과 직접
치킨 아이스크림 배민
치킨 아이스크림 요기요
치킨 아이스크림 직접
치킨 커피 배민
치킨 커피 요기요
치킨 커피 직접
피자 사과 배민
피자 사과 요기요
피자 사과 직접
피자 아이스크림 배민
피자 아이스크림 요기요
피자 아이스크림 직접
피자 커피 배민
피자 커피 요기요
피자 커피 직접

In [13]:
print(list(range(-10,0,2)))

[-10, -8, -6, -4, -2]

In [14]:
print(list(range(3,-10,2)))

[]

In [16]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']
print('x y')

for x in x_list:
    for y in y_list:
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

### 여러 개의 리스트 다루기

names = ['A', 'b', 'c','d']

In [27]:
names = ['James', 'Risa', 'Laura', 'Mary', 'Yoon', 'Moo']
scores = [89,13,45,12,53,65]

In [28]:
len(names)

6

In [29]:
list(range(0,6,1))

[0, 1, 2, 3, 4, 5]

In [30]:
list(range(0, len(names), 1))

[0, 1, 2, 3, 4, 5]

In [31]:
list(range(len(names)))

[0, 1, 2, 3, 4, 5]

In [33]:
for k in range(len(names)):
    print(names[k], scores[k])

James 89
Risa 13
Laura 45
Mary 12
Yoon 53
Moo 65

In [34]:
print(names[1])

Risa

In [35]:
print("윤경주", 100)

윤경주 100

In [36]:
i = 0
sum = 0
while (sum < 20):
    i = i + 1
    sum = sum + 1
    print(i, sum)

1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
11 11
12 12
13 13
14 14
15 15
16 16
17 17
18 18
19 19
20 20

In [ ]:
while True:
    if n 
    print("while Test")