In [1]:
type(3)

int

In [2]:
type(1.2)

float

In [3]:
2*2*2*2*2

32

In [4]:
1.5*2

3.0

In [5]:
1.5**2

2.25

In [6]:
2**(1/2)

1.4142135623730951

In [7]:
13%5

3

In [8]:
13/5

2.6

In [9]:
13//5

2

In [10]:
print(True)

True

In [11]:
print(False)

False

In [12]:
type(True) ## p.63

bool

In [2]:
print(5==3)

False

In [3]:
print(5!=3)

True

In [4]:
print(5<3)

False

In [5]:
print(5>3)

True

In [6]:
print(5<=3)

False

In [7]:
print(5>=3)

True

In [8]:
print( 1 > 0 and -2 < 0)

True

In [9]:
print((3 < 0) and (-5 > 0) and (-1 > 5))

False

In [10]:
print(3 < 0 and -5 > 0 and -1 > 5)

False

In [11]:
print(((2 > 0) or (-5 > 0)) and ((4 > 8) or (3 < 0)))

False

In [12]:
a = 1234

In [13]:
print(a)

1234

In [14]:
print("String Test")

String Test

In [15]:
strint1 = "String Test1"

In [16]:
string1 = "String Test1"
string2 = "String Test2"
string3 = "String Test3"

print(string3)

String Test3

In [17]:
type(string1) #p72

str

In [1]:
student1 = [90,95,85,80]

In [2]:
print(student1)

[90, 95, 85, 80]

In [3]:
type(student1)

list

In [4]:
student1[0]

90

In [5]:
student1[-1]

80

In [6]:
student1[1] = 100

In [7]:
print(student1)

[90, 100, 85, 80]

In [8]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']

In [9]:
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

In [10]:
myFriends[2]

'Lisa'

In [11]:
myFriends[3]

'Mary'

In [12]:
mixedList = [0,2,3,5,'python','Robert',True, ['a', 1, 'c']]

In [13]:
print(mixedList)

[0, 2, 3, 5, 'python', 'Robert', True, ['a', 1, 'c']]

In [15]:
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con3 = list_con1 +list_con2

print(list_con3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
list_con1 = [1,2,3,4]
list_con = list_con1 * 3
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [17]:
list_data = [0,1,2,3,4,5,6,7,8,9]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
print(list_data[0:3])

[0, 1, 2]

In [19]:
print(list_data[4:8])

[4, 5, 6, 7]

In [20]:
print(list_data[:3])

[0, 1, 2]

In [21]:
print(list_data[7:])

[7, 8, 9]

In [22]:
print(list_data[::2])

[0, 2, 4, 6, 8]

In [23]:
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
del list_data[6]

In [25]:
print(list_data)

[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [26]:
list_data1 = [1,2,3,4,5]
print(5 in list_data1)

True

In [27]:
print(6 in list_data1)

False

In [28]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

In [30]:
myFriends.append('Thomas')

In [31]:
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [32]:
myFriends.insert(1,'Paul')

In [33]:
print(myFriends)

['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [34]:
myFriends.extend(['Laura', 'Betty'])

In [35]:
print(myFriends)

['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Laura', 'Betty']

In [36]:
tuple1 = (1,2,3,4)

In [37]:
tuple1

(1, 2, 3, 4)

In [38]:
type(tuple1)

tuple

In [39]:
tuple1[1]

2

In [40]:
tuple2 = 5,6,7,8
print(tuple2)

(5, 6, 7, 8)

In [41]:
type(tuple2)

tuple

In [42]:
tuple3 = (9,)
tuple4 = 10,
print(tuple3)
print(tuple4)

(9,)
(10,)

In [43]:
tuple5 = (1,2,3,4)
tuple5[1] = 5

TypeError: 'tuple' object does not support item assignment

In [44]:
tuple6 = ('a','b','c','d','e','f')
tuple6.index('c')

2

In [45]:
tuple7 = ('a','a','a','b','b','c','d')
tuple7.count('a')

3

In [46]:
set1 = {1,2,3}

In [47]:
set1a = {1,2,3,3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [48]:
type(set1)

set

In [49]:
A={1,2,3,4,5}
B={4,5,6,7,8,9,10}
print(A.intersection(B))
print(A.union(B))
print(A.difference(B))

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}

In [50]:
print(A&B)

{4, 5}

In [51]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [52]:
print(A-B)

{1, 2, 3}

In [53]:
a = [1,2,3,4,5]

In [54]:
type(a)

list

In [55]:
b = tuple(a)

In [56]:
print(b)

(1, 2, 3, 4, 5)

In [57]:
c=set(b)

In [58]:
type(c)

set

In [59]:
list(b)
type(b)

tuple

In [60]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른","호주":"멜버른","덴마크":"코펜하겐"}
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [61]:
type(country_capital)

dict

In [62]:
print(country_capital["영국"])

런던

In [63]:
dict_data1 = {1:"버스", 3:"비행기", 4:"택시", 5:"자전거"}
print(dict_data1)

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [64]:
dict_data1[3]

'비행기'

In [65]:
dict_data2 = {1:10, 2:20, 3:30, 4:40, 5:50}

In [66]:
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [67]:
dict_data3 = {"list_data1":[11,12,13], "list_data2":[21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [72]:
mixed_dict = {1:10, 'dict_num':{1:10, 2:20}, "dict_list_tuple": {"A":[11,12,13], "B":(22,23,24)}, "dict_string": "이것은 책입니다."}
print(mixed_dict)

{1: 10, 'dict_num': {1: 10, 2: 20}, 'dict_list_tuple': {'A': [11, 12, 13], 'B': (22, 23, 24)}, 'dict_string': '이것은 책입니다.'}

In [74]:
country_capital["독일"] = "베를린"
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [75]:
country_capital["호주"] = "캔버라"
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [76]:
del country_capital["덴마크"]
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [77]:
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나":105}

In [78]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [80]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [81]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [83]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [85]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [86]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [87]:
fruit_code2 = {"오렌지":106,"수박":107}
fruit_code.update(fruit_code2)
print(fruit_code)

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

# 제어문

In [93]:
a = input()

if int(a)>90:
    print("good")

99
good

In [97]:
x = 95
if x >= 90:
    print("Pass")

Pass

In [98]:
x = 75
if x>=90:
    print("Pass")
else:
    print("Fail")

Fail

In [99]:
x = input()
if int(x) >= 90:
    print("Very good")
elif (int(x) >= 80) and (int(x) < 90):
    print("Good")
else:
    print("Bad")

77
Bad

In [100]:
x = input()
if int(x) >= 90:
    print("Very Good")
elif 80<= int(x) <90:
    print("good")
else:
    print("sorry")

55
sorry

In [101]:
x = float(input())
if x == 100:
    print("Perfect")
elif 95 <= x <100:
    print("Very Good")
elif 90 <= x <95:
    print("Good")
else:
    print("take care")

77.77
take care

In [102]:
a = 0
print(0)

0

In [103]:
a = a+1
print(a)

1

In [104]:
a = a +1
print(a)

2

In [105]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [106]:
print(a +10)

15

In [107]:
for a in [1,2,3,4,5]:
    print (a + 10)

11
12
13
14
15

In [109]:
myFriends = ['James','Robert', 'Lisa','Mary']
for myFriend in myFriends:
    print(myFriend)

James
Robert
Lisa
Mary

In [110]:
print(range(0,10,1))

range(0, 10)

In [111]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
for a in range(0,6,1):
    print(a)

0
1
2
3
4
5

In [113]:
for a in range(0,6,2):
    print(a)

0
2
4

In [114]:
print(list(range(0,10,1)))
print(list(range(0,10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
x_list = ['x1','x2']
y_list = ['y1','y2']

print("x  y")
for x in x_list:
    for y in y_list:
        print(x,y)

x  y
x1 y1
x1 y2
x2 y1
x2 y2

In [116]:
names = ['James','Robert', 'Lisa','Mary']
scores = [95,96,97,94]

for name in names:
    for score in scores:
        print( name, score)      ##실수 ㅋ 훗

James 95
James 96
James 97
James 94
Robert 95
Robert 96
Robert 97
Robert 94
Lisa 95
Lisa 96
Lisa 97
Lisa 94
Mary 95
Mary 96
Mary 97
Mary 94

In [117]:
for k in range(len(names)):
    print(names[k], scores[k]) ## 심쿵 ㅎㅎ

James 95
Robert 96
Lisa 97
Mary 94

In [118]:
for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

In [121]:
i = 0
sum = 0
print ("i sum")
while (sum<20):
    i=i+1
    sum = sum + i
    print(i,sum)

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [122]:
k = 0
while True:
    k = k+1
    if(k>3):
        break
    print(k)

1
2
3

In [123]:
for k in range(10):
    if (k>2):
        break
    print(k)

0
1
2

In [124]:
for k in range(5):
    if (k == 2):
        continue
        
    print(k)

0
1
3
4

In [125]:
k = 0
while True:
    k = k +1
    
    if (k == 2):
        print("continue next")
        continue
    if (k > 4):
        break
    print(k) ## 115

1
continue next
3
4

In [4]:
## p.116
numbers = [1,2,3,4,5]
squares = [i**2 for i in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [5]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers if i>=3]
print(square)

[9, 16, 25]

In [1]:
print("Best", "python", "bppk")

Best python bppk

In [2]:
print("Best", "python", "book", sep = "-:*:-")

Best-:*:-python-:*:-book

In [3]:
print("abcd" + "efg")

abcdefg

In [4]:
print("Best", "python", "book" + ":", "This book")

Best python book: This book

In [5]:
x = 10
print(x)

10

In [6]:
name = "James"

In [7]:
ID_num = 789

In [8]:
print("Name:", name + ",", "ID Number:", ID_num)

Name: James, ID Number: 789

In [9]:
print("James is my friends.\nHe is Korean.")

James is my friends.
He is Korean.

In [10]:
print("James is my friends.\n\nHe is Korean.")

James is my friends.

He is Korean.

In [11]:
print("Welcom to ")
print("python!")

Welcom to
python!

In [12]:
print("Welcome to ", end="")
print("python!")

Welcome to python!

In [13]:
print("Welcome to ", end="")
print("python")

Welcome to python

In [18]:
name = "광재"
print(("%s는 나의 친구입니다." %name))

광재는 나의 친구입니다.

In [19]:
r = 3
PI = 3.14159265358979
print("반지름: %d, 원주율 : %f" %(r, PI))

반지름: 3, 원주율 : 3.141593

In [22]:
animal_0 ="cat"
animal_1 ="dog"
animal_2 ="fox"

print("Animal: {0}".format(animal_0))
print("Animal: {0}. {1}, {2}".format(animal_0, animal_1, animal_2))

Animal: cat
Animal: cat. dog, fox

In [23]:
print("Animal: {1}, {2}, {0}".format(animal_0, animal_1, animal_2))

Animal: dog, fox, cat

In [ ]:
print("Animal: {1}, {2}".format(animal_0, animal_1, animal_2)