### 함수의 기본 구조

인자도 반환 값도 없는 함수

<code>
    def my_function():
        print("My first function")
        print("첫번 째 함수")
</code>

## 마크 다운 사용법

###  인자도 반환값도 없는 함수

In [8]:
def my_func(): # 함수를 선언하다(1)
    print("My first function")
    print("This is function")

In [9]:
my_func() # 함수 호출(2), 출력을 함수 안에서 출력하는 경우 이런 경우가 함수 안에서 출력하는 구문
#return 이 있는 경우는 이 부분에 프린트 구문이 있다 이런 형태가 계속 보다보면 그렇게 패턴이 보인다

My first function
This is function

### 인자는 있으나 반환값이 없는 함수

In [1]:
def my_friend(friendName): #(1)함수 선언(만들기), 정의
    print("{}는 나의 친구입니다".format(friendName))

In [2]:
my_friend("철수") # (2)함수 호출 (사용)
my_friend("영미")

철수는 나의 친구입니다
영미는 나의 친구입니다

In [3]:
def my_friend(friendName): #(1)함수 선언(만들기), 정의
    print("{}는 나의 친구입니다".format(friendName))

In [4]:
name = "Kildong" # 이름
dept = "IT"      # 부서

In [5]:
# str concatenation
print("I am " + name + ". I belong to " + dept + " department.")

I am Kildong. I belong to IT department.

In [6]:
# %-formatting
print("I am %s. I belong to %s department." % (name, dept))

I am Kildong. I belong to IT department.

In [7]:
# str.format()
print("I am {}. I belong to {} department.".format(name, dept))

I am Kildong. I belong to IT department.

In [8]:
# f-strings (Python 3.6부터 지원)
print(f"I am {name}. I belong to {dept} department.")

I am Kildong. I belong to IT department.

In [10]:
def my_student_info(name, school_ID, phoneNumber):
    print("--------------------------------")
    print("- 학생이름:", name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phoneNumber)

In [11]:
my_student_info("현아", "01", "01-236-5678")
my_student_info("진수", "01", "01-236-5678")

--------------------------------
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-236-5678
--------------------------------
- 학생이름: 진수
- 학급번호: 01
- 전화번호: 01-236-5678

In [12]:
def my_student_info(name, school_ID, phoneNumber):
    print("********************************")
    print("- 학생이름:", name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phoneNumber)

In [13]:
my_student_info("현아", "01", "01-236-5678")
my_student_info("진수", "01", "01-236-5678")

********************************
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-236-5678
********************************
- 학생이름: 진수
- 학급번호: 01
- 전화번호: 01-236-5678

### 인자도 있고 반환 값도 있는 함수

In [14]:
def my_calc(x, y):
    z = x * y
    return z

In [15]:
my_calc(3,4)

12

In [22]:
def my_student_info_list(student_info):
    print("*******************************")
    print("* 학생이름:", student_info[0])
    print("* 학급번호:", student_info[1])
    print("* 전화번호:", student_info[2])
    print("*******************************")

In [23]:
student1_info = ["현아", "01","23-4556-145"]
my_student_info_list(student1_info)

*******************************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 23-4556-145
*******************************

In [24]:
my_student_info_list(["진수", "02", "234-566-2522"])

*******************************
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 234-566-2522
*******************************

In [ ]:
ㅊ