### 형변환 함수

#### 정수형으로 변환

In [1]:
int(0.123), int(3.5123456), int(-1.312356)

(0, 3, -1)

In [3]:
[int('22334'), int('123456'), int('-2312')]

[22334, 123456, -2312]

In [4]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [5]:
[float('10'), float('0.123'), float('-0.567')]

[10.0, 0.123, -0.567]

#### 문자형으로 변환

In [7]:
[str(123), str(23425), str(6324234)]

['123', '23425', '6324234']

In [9]:
[str(0.123), str(234.25), str(-632.4234)]

['0.123', '234.25', '-632.4234']

### 리스트, 튜플, 세트형으로 변환

In [11]:
list_data = ['abc', 1,2, 'def']
tuple_data = ('abc', 1,2, 'def')
set_data = {'abc', 1,2, 'def'}

In [12]:
type(list_data), type(tuple_data), type(set_data)

(list, tuple, set)

In [13]:
print("리스트로 변환:", list(tuple_data), list(set_data))

리스트로 변환: ['abc', 1, 2, 'def'] ['abc', 2, 'def', 1]

In [14]:
print("튜플로 변환:", tuple(tuple_data), tuple(set_data))

튜플로 변환: ('abc', 1, 2, 'def') ('abc', 2, 'def', 1)

In [15]:
print("세트트로 변환:", set(tuple_data), set(set_data))

세트트로 변환: {'abc', 2, 'def', 1} {'abc', 2, 'def', 1}

### bool 함수

#### 숫자를 인자로 bool 함수 호출

In [16]:
bool (0)

False

In [17]:
bool (1)

True

In [18]:
bool (-10)

True

In [19]:
bool (5.12)

True

In [20]:
bool (-3.26)

True

#### 문자열을 인자로 bool함수로 호출

In [21]:
bool ('a')

True

In [22]:
bool(' ')

True

In [23]:
bool('')

False

In [24]:
bool (None)

False

#### 리스트, 튜플, 세트를 인자로 bool 함수 호출

In [25]:
myFriends = []  # 안전재난 문자
bool(myFriends)

False

In [26]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']ㅌ
bool("myFreinds")

True

In [27]:
myNum = ()
bool(myNum)

False

In [28]:
myNum = (1,2,3)
bool(myNum)

True

In [29]:
mySetA = {}
bool(mySetA)

False

In [30]:
mySetA = {20,30,50}
bool(mySetA)

True

#### bool 함수의 활용

In [31]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [32]:
print_name("James")

입력된 이름: James

In [33]:
print_name("")

입력된 이름이 없습니다.

In [34]:
print_name(" ") ##밖에서 데이터 들어왔는지 안왔는지 파악하는 bool 함수

입력된 이름:

#### 최솟값과 최댓값을 구하는 함수

In [35]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum),max(myNum)]

[0, 99.5]

In [36]:
myStr = "zxyabc" # sorting
[min(myStr), max(myStr)]

['a', 'z']

In [37]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum),max(myNum)]

[0, 99.5]

In [38]:
myNum = ("Abc","abc", "bcd", 'efg')  #아스키 코드 A:65 a:
[min(myNum),max(myNum)]

['Abc', 'efg']

#### 절대값과 전체 합을 구하는 함수

In [39]:
[abs(10), abs(-10)]

[10, 10]

In [40]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [41]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

#### 항목의 개수를 구하는 방법

In [42]:
len("ab cd")

5

In [43]:
len([1,2,3,4,5,6,7,8])

8

In [44]:
len((1,2,3,4,5,6,7,8))

8

In [45]:
len({'a','b','c','d'})

4

In [46]:
len({1:'Thomas', 2:'Edward', 3: 'Henry'})

3

#### 내장 함수 활용

In [47]:
scores = [90,80,95,85]

score_sum = 0
subject_num = 0

for score in scores:
    score_sum = score_sum + score
    subject_num = subject_num + 1
    
average = score_sum / subject_num

print("총점: {0}, 평균:{1}".format(score_sum, average))

총점: 350, 평균:87.5

In [48]:
scores = [90,80,95,85]
print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [49]:
print("최하점수: {0}, 최고점수:{1}".format(min(scores), max(scores)))

최하점수: 80, 최고점수:95

In [52]:
print(f"최하점수: {min(scores)}, 최고점수:{max(scores)}" )

최하점수: 80, 최고점수:95

In [ ]:
scores =