#### 기본 출력

In [1]:
print("Hello Python!!")

Hello Python!!

In [2]:
print("Best","Python", "book")

Best Python book

In [3]:
print("best", "python", sep="-:*:-")

best-:*:-python

In [5]:
print("010","4690","0647", sep = "-")

010-4690-0647

In [6]:
print("윤","주", sep = "*")

윤*주

In [7]:
#### 더하기 연산자 앞 뒤의 형이 똑같아야되
print("abdc" + 1)

TypeError: can only concatenate str (not "int") to str

In [8]:
print("abdc", 1, sep="") #저장을 못한다(무슨 말?)

abdc1

In [9]:
print("Best","python","book" + ":", "This book")

Best python book: This book

In [11]:
name = "James"
ID_num = 789
print("Name:", name + ",", "ID_Number:", ID_num)

Name: James, ID_Number: 789

In [12]:
print("James is my friend. \nHe is Korean")

James is my friend.
He is Korean

In [13]:
print("James is my friend. \n\nHe is Korean")

James is my friend.

He is Korean

In [14]:
print("Welcome to ")
print("python")

Welcome to
python

In [15]:
print("Welcome to ", end="")
print("python")

Welcome to python

In [16]:
print("010","0647"
print("010")

010
0647

In [17]:
print("010","2731","2579",sep="-",end="")

010-2731-2579

In [19]:
print("010","",sep="-",end="")
print("1234","",sep="-",end="")
print("5678")   # 디버깅 이런 방법도 있고 저런 방법도 있다 배우는게 제일 좋다

010-1234-5678

In [1]:
Yoon_list = ["Yoon", "010-4690-0647", "plantsyoon@gmail.com", "중랑구"]

### 형식지정 출력

#### 나머지 연산자(%)를 이용한 형식및 위치 지정

In [2]:
name = "광재"
print("%s는 나의 친구 입니다." %name)

광재 는 나의 친구 입니다.

In [3]:
r = 3
PI = 3.14159226535879
print("반지름: %d, 원주율: %f" %(r,PI))

반지름: 3, 원주율: 3.141592

#### 형식 지정문자열에서 출력 위치 지정

In [4]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal: {0}".format(animal_0))
print("Animal: {0},{1},{2}".format(animal_0,animal_1,animal_2))

Animal: cat
Animal: cat,dog,fox

In [5]:
print("Animal: {1},{2},{0}".format(animal_0,animal_1,animal_2))

Animal: dog,fox,cat

In [7]:
phone_0 = "010"
phone_1 = "4690"
phone_2 = "0647"

print("Phone: {1},{2}".format(phone_0,phone_1,phone_2))

Phone: 4690,0647

In [9]:
phone_0 = "010"
phone_1 = "4690"
phone_2 = "0647"

print("Phone: {0}-****-{2}".format(phone_0,phone_1,phone_2))

Phone: 010-****-0647

In [10]:
print("Animal: {2},{0}".format(animal_0,animal_1,animal_2))

Animal: fox,cat

In [11]:
print("Animal: {},{},{}".format(animal_0,animal_1,animal_2))

Animal: cat,dog,fox

In [13]:
name = "Tomas"
age = 10
a = 0.1234564547734634545
fmt_string = "String: {0}. Integer Number: {1},Floating Number: {2}"
print(fmt_string.format(name,age,a))

String: Tomas. Integer Number: 10,Floating Number: 0.12345645477346345

#### 형식 지정 문자열에서 숫자 출력 형식 지정

In [18]:
a = 0.1234567891234
print("{0},{0}".format(a))

0.1234567891234,0.1234567891234

In [19]:
a = 0.123456778999744
print("{0:.2f},{0:.5f}".format(a))

0.12,0.12346

In [21]:
x = 3

print("{0}".format(x)) # = print(x)

3

In [22]:
x = 3

print("{0:2d}".format(x))

 3

In [23]:
x = 3

print("{0:05d}".format(x))

00003

In [24]:
x = 3

print("{0:>5d}".format(x))

    3

In [25]:
x = 3

print("{0:<5d}".format(x))

3

In [26]:
x = 3

print("{0:.3f}".format(x))

3.000

In [27]:
x = 3

print("{0:,}".format(x))

3

In [28]:
x = 3

print("{0:.1%}".format(x))

300.0%

In [29]:
x = 3

print("{0:.2e}".format(x))

3.00e+00

In [30]:
x = 3

print("{0:#x}".format(x))

0x3

In [31]:
x = 3

print("{0:#o}".format(x))

0o3

In [32]:
x = 3

print("{0:#b}".format(x))

0b11