### 반복문의 필요성

In [1]:
a = 0

In [2]:
print(a)

0

In [3]:
a = a+1 # a += 1: 똑같다/ 해석이 잘 안된다 바꿔서 가야한다/ 얻어 맞는다

In [4]:
print(a)

1

In [5]:
a = a+1
print(a)

2

In [7]:
for a in [1,2,3]:
    print(a)

1
2
3

### 반복 범위 지정

#### 리스트 이용

In [8]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [9]:
myFriends = ['신동욱', '문지현', '이도원']
for myFriend in myFriends:
    print(myFriend)

신동욱
문지현
이도원

#### range 함수 이용

In [1]:
print(range(0,10,1))

range(0, 10)

In [4]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(0,6,1))

[0, 1, 2, 3, 4, 5]

In [8]:
for a in range(0,6,2):
    print(a)

0
2
4

In [9]:
for a in range(0,6,2):
    print(a)

0
2
4

In [10]:
print(list(range(0,10,1)))
print(list(range(0,10)))
print(list(range(0,)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[]

In [11]:
print(list(range(0,20,5)))

[0, 5, 10, 15]

In [12]:
print(list(range(-10,0,2)))

[-10, -8, -6, -4, -2]

In [13]:
print(list(range(3,-10,-3)))

[3, 0, -3, -6, -9]

In [14]:
print(list(range(3,-10,3)))

[]

In [15]:
print(list(range(0,-5,1)))

[]

#### 중첩 for 문

In [18]:
x_list = ['x1','x2']
y_list = ['y1','y2']

print('x y')

for x in x_list:
    for y in y_list:
        print(x, y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

#### 여러 개의 리스트 다루기

In [37]:
names = ['James', 'Risa', 'Lisa', 'Mary', 'Yoon', 'Moon']
scores= [95,96,97,94,100,98]

In [38]:
len(names)

6

In [39]:
list(range(0,6,1))

[0, 1, 2, 3, 4, 5]

In [40]:
list(range(0,len(names),1))

[0, 1, 2, 3, 4, 5]

In [41]:
list(range(len(names))) #0,1 생략

[0, 1, 2, 3, 4, 5]

In [42]:
for k in range(len(names)):
    print(names[k], scores[k])

James 95
Risa 96
Lisa 97
Mary 94
Yoon 100
Moon 98

In [30]:
names[1]

'Risa'

In [33]:
print("윤경주", 100) # 프린트 문법 구조

윤경주 100

In [43]:
for name, score in zip(names, scores):
    print(name, score)

James 95
Risa 96
Lisa 97
Mary 94
Yoon 100
Moon 98